<p fundoAmarelo>
  Texto de fundo amarelo.
</p>

<button fundoAmarelo>Botão de teste</button>

<p highlightMouse>
  Texto com highlight quando passo o mouse
</p>

<!--
<p highlight [defaultColor]="'gray'" [highligthColor]="'red'">
  Texto com highlight custumizada
</p>
-->

<p [highlight]="'red'" [defaultColor]="'gray'">
  Texto com highlight custumizada
</p>




<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>

<div *ngElse="mostrarCursos">
  Não existe cursos para serem listados.
</div>


<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
