<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home </a>
    <a class="nav-item nav-link" [class.active]="aba == 'mapa'" (click)="aba = 'mapa'">Mapa</a>
    <a class="nav-item nav-link" [class.active]="aba == 'lista'" (click)="aba = 'lista'">Lista</a>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'lista'">Modo lista ativado</p>
  <p *ngSwitchCase="'mapa'">Modo mapa ativado</p>
  <p *ngSwitchDefault>Modo home ativado</p>
</div>
